.home {
  section.bodyOfPage{
    padding:0 5%;
  }
  .banner{
    width:100%;
    border-bottom: 2px dashed @navigation-border;
    .flex(flex-start, center, wrap);
    img{
      margin-bottom:2%; 
    }
  }
  .content-section {
    margin: 5% 0 5% 0 ;
    padding-bottom: 5%;
    .flex(space-between, center, wrap);
    border-bottom: 2px dashed @navigation-border;
    @media @mobile{
      .flex(flex-start, center, no-wrap);
      flex-direction: column;
      width:100%;
      } 
    .text-content {
      width: 48%;
      padding-right: 1%;
      @media @mobile{
        .flex(flex-start, center, wrap);
        // flex-direction: column;
        width:100%;
      }
    }
    .img-content {
      width: 48%;
      padding-left: 1%;
      @media @mobile{
        width:100%;
      }
      img {
        border-radius: 10px;
      }
    }
  }
  
  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    .flex();
    flex-direction: column-reverse;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;
    @media @mobile{
      width: 100%;
      margin: 0;
      padding-bottom: 5%;
      
    }
    
    img {
      border-radius: 10px;
      }
    }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
      button{
        border-style: none;
        width:100%;
        .flex(center, center, no-wrap);
        .btn{
          .button-style(100%, @button-bg, @main-bg, 1.6rem);
        }
      }
    }
  }

}// home