// Navigation Styles here
.navigation-section{
    width:100%;
    .flex(space-between, center, no-wrap);
    h1{
        width:25%;
    }
    nav{
        width:50%;
        font-size: 1.8em;
        .flex();
        a{
            text-decoration: none;
            color: black;
            
        }
    }
}